@import "resources/variables";
@import "resources/mixins";

/*
** intro part
*/

body
{
    height: 3000px;
}

@import "parts/avatar";

/*
** small projects part
*/
.margin
{
    margin-top: 30px;
}

.h3
{
    font:
    {
        weight: bold;
    }
}

.vertical-line
{
    background:
    {
        color: $vert-line-color;
    }
    width: 10px;
    height: 250px;
    margin: auto;
    opacity: 1;
}

.flex-wrapper
{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}


.flex-wrapper::before
{
    position: absolute;
    content: "";
    display: inline-block;
    border-right: $vert-line-width solid #000;
    height: 150%;
    left: $container-width/2-$vert-line-width/2;
    top: -$vert-line-point;
}

.content
{
    position: relative;
    width: $box-width;
    min-width: $box-width;
    max-width: $box-width;
    height: $content-height;
    padding: $content-padding;

    margin-bottom: $space-column;

    &::before
    {
        content: "";
        position: absolute;
        border: 20px solid transparent;
        height: 50px;
        width: 0;
        height: 0;
    }

    &::after
    {
        content: "";
        display: block;
        position: absolute;

        //top: $content-padding*1.5;
        bottom: $content-height - $content-padding;

        background-color: $vert-line-color;
        width: $vert-line-node;
        height: $vert-line-node;
        border-radius: 50%;
    }

}

.content-wrapper {
    width: 100%;

    &:last-of-type
    {
        margin-bottom: 0;
    }

    &:nth-child(2n+1) .content
    {
        margin-left: 0px;
        margin-right: auto;
        background-color: $left-color;
        &::after
        {
            left: ($container-width)/2 - $padding;
        }

        &::before
        {
            border-left-color: $left-color;
            left: ($container-width)/2*.9 + 10 - $vert-line-width;
        }
    }
    
    &:nth-child(2n) .content
    {
        margin-left: auto;
        margin-right: 0px;
        background-color: $right-color;
        &::after
        {
            left: -($padding + $container-width/2*0.1 - 10);
        }

        &::before
        {
            border-right-color: $right-color;
            right: ($container-width)/2*.9 + 10;
        }
    }
}

.flex-wrapper:hover .content-wrapper
{   
    & .content
    {
        transition: all 2s ease-in;
        opacity: 0.25;
    }

    &:hover .content
    {
        transition: all 1s ease-in-out;
        max-width: $container-width;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        font:
        {
            size: $hover-font-size;
        }
        opacity: 1;
        &::after, &::before
        {
            display: none;
        }
    }
}