@use "resources/mixins";
@use "resources/variables";

body {
    background: variables.$cyan-bg url('../../public/images/paint-bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.canvas-container {
    @include mixins.center-horizontal;
    width: variables.$container-width;
    border: 2px solid variables.$purple-bg;

    border-radius: 10px;
    padding: {
        left:15px;
        right:15px;
        top: 0;
        bottom: 0;
    }
}

.canvas {
    width: 1000px;
    height: 500px;
    outline: {
        style: solid;
        width: 5px;
        color: variables.$purple-bg;
    }
    margin:0;
    padding:0;
}

.toolbar {
    padding: variables.$padding;

    display: flex;

    justify-content: space-between;

    button {
        font: {
            size: 20px;
            weight: bold;
        }
        letter-spacing: 3px;
        margin: {
            top:variables.$padding;
            bottom: variables.$padding;
            left: auto;
            right: auto;
        }
    }

    button[type="button"].yes {
        margin: {
            left: variables.$padding;
            top: variables.$padding;
            bottom: variables.$padding;
            right: auto;
        }
    }

    button[type="button"].no {
        margin: {
            right: variables.$padding;
            top: variables.$padding;
            bottom: variables.$padding;
            left: auto;
        }
    }

    input {
        margin: {
            right:auto;
            top: variables.$padding;
            bottom: variables.$padding;
            left: auto;
        }

        width: 100px;
    }
}


.colorPicker {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
   
}

img {
    outline: {
        style: solid;
        width: 2px;
        color: variables.$purple-bg;
    }
    border-radius: 10px;
}

.galery-wrapper {
    width: 1000px;
}

.galery {
    position: relative;
    padding: 0;
    
    width: 1000px;
    height: 700px;

    .img-center {
        margin-top: 0;
        position: relative;
    }

    .img-under {
        position: absolute;
    }
}

.galery-wrapper, .canvas-container {
    margin: {
        top: 100px;
        bottom: 75px;
        left: auto;
        right: auto;
    }
}