@use "resources/mixins";
@use "resources/variables";


body {
    height: 100%;
}

.container {
    @include mixins.center-horizontal;
    width: variables.$container-width;
    border: 2px solid black;
    margin: {
        top: 150px;
        bottom: 150px;
    }
    padding: variables.$padding;
}
