/*
** small projects part
*/

/************************************************************/

/*
**  navbar
*/

/************************************************************/

/*
**  navbar
*/

/************************************************************/

/*
**  notebook
*/

/************************************************************/

/*
**  painting
*/

@-webkit-keyframes change-background {
  0% {
    background-color: #000;
  }

  25% {
    background-color: #696969;
  }

  50% {
    background-color: #2F4F4F;
  }

  75% {
    background-color: #000080;
  }

  100% {
    background-color: #000;
  }
}

@keyframes change-background {
  0% {
    background-color: #000;
  }

  25% {
    background-color: #696969;
  }

  50% {
    background-color: #2F4F4F;
  }

  75% {
    background-color: #000080;
  }

  100% {
    background-color: #000;
  }
}

@-webkit-keyframes make-button-clicked {
  to {
    transform: rotateX(40deg);
    box-shadow: 0px 0px 0px blue;
    top: 5px;
    transform: scale(1.2);
  }
}

@keyframes make-button-clicked {
  to {
    transform: rotateX(40deg);
    box-shadow: 0px 0px 0px blue;
    top: 5px;
    transform: scale(1.2);
  }
}

@-webkit-keyframes progress-animate {
  0% {
    background-image: linear-gradient(to left, #750909, #d87824, #b7ae47, #4bdd49, #52c9ad);
  }

  25% {
    background-image: linear-gradient(to left, #d87824, #b7ae47, #4bdd49, #52c9ad, #750909);
  }

  50% {
    background-image: linear-gradient(to left, #b7ae47, #4bdd49, #52c9ad, #750909, #d87824);
  }

  75% {
    background-image: linear-gradient(to left, #4bdd49, #52c9ad, #750909, #d87824, #b7ae47);
  }

  100% {
    background-image: linear-gradient(to left, #52c9ad, #750909, #d87824, #b7ae47, #4bdd49);
  }
}

@keyframes progress-animate {
  0% {
    background-image: linear-gradient(to left, #750909, #d87824, #b7ae47, #4bdd49, #52c9ad);
  }

  25% {
    background-image: linear-gradient(to left, #d87824, #b7ae47, #4bdd49, #52c9ad, #750909);
  }

  50% {
    background-image: linear-gradient(to left, #b7ae47, #4bdd49, #52c9ad, #750909, #d87824);
  }

  75% {
    background-image: linear-gradient(to left, #4bdd49, #52c9ad, #750909, #d87824, #b7ae47);
  }

  100% {
    background-image: linear-gradient(to left, #52c9ad, #750909, #d87824, #b7ae47, #4bdd49);
  }
}

/************************************************************/

/*
**  navbar
*/

/************************************************************/

/*
**  notebooks
*/

ul.navbar-list {
  list-style: none;
  display: flex;
  align-items: baseline;
  padding: 0;
}

ul.navbar-list:hover li:not(.right-float-navbar) a.active-navbar {
  background-color: rgba(148, 96, 226, 0.7);
  color: rgba(255, 255, 255, 0.7);
  box-shadow: none;
  text-shadow: none;
}

ul.navbar-list li:not(.right-float-navbar) a {
  display: block;
  text-decoration: none;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgba(148, 96, 226, 0.7);
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgba(148, 96, 226, 0.7);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(148, 96, 226, 0.7);
  padding: 10px;
  background-color: rgba(148, 96, 226, 0.7);
  color: rgba(255, 255, 255, 0.7);
}

ul.navbar-list li:not(.right-float-navbar) a:hover,
ul.navbar-list li:not(.right-float-navbar) a.active-navbar {
  background-color: #9460e2;
  color: white;
  text-shadow: 1px 1px 5px black;
  border-bottom-color: black;
  box-shadow: 1px 1px 5px black;
  top: 2px;
  transition: all 0.25s ease;
}

ul.navbar-list .right-float-navbar {
  margin-left: auto;
  margin-right: 10px;
}

ul.navbar-list .right-float-navbar a {
  color: chocolate;
  text-shadow: 0 0 1px black;
  font-size: larger;
  background: none;
  border: none;
}

ul.navbar-list li .left-edge {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

ul.navbar-list li .right-edge {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.emphasis {
  font-size: larger;
  font-weight: bold;
}

