/*
** small projects part
*/

/************************************************************/

/*
**  navbar
*/

/************************************************************/

/*
**  navbar
*/

/************************************************************/

/*
**  notebook
*/

@-webkit-keyframes change-background {
  0% {
    background-color: #000;
  }

  25% {
    background-color: #696969;
  }

  50% {
    background-color: #2F4F4F;
  }

  75% {
    background-color: #000080;
  }

  100% {
    background-color: #000;
  }
}

@keyframes change-background {
  0% {
    background-color: #000;
  }

  25% {
    background-color: #696969;
  }

  50% {
    background-color: #2F4F4F;
  }

  75% {
    background-color: #000080;
  }

  100% {
    background-color: #000;
  }
}

@-webkit-keyframes make-button-clicked {
  to {
    transform: rotateX(40deg);
    box-shadow: 0px 0px 0px blue;
    top: 5px;
    transform: scale(1.2);
  }
}

@keyframes make-button-clicked {
  to {
    transform: rotateX(40deg);
    box-shadow: 0px 0px 0px blue;
    top: 5px;
    transform: scale(1.2);
  }
}

@-webkit-keyframes progress-animate {
  0% {
    background-image: linear-gradient(to left, #750909, #d87824, #b7ae47, #4bdd49, #52c9ad);
  }

  25% {
    background-image: linear-gradient(to left, #d87824, #b7ae47, #4bdd49, #52c9ad, #750909);
  }

  50% {
    background-image: linear-gradient(to left, #b7ae47, #4bdd49, #52c9ad, #750909, #d87824);
  }

  75% {
    background-image: linear-gradient(to left, #4bdd49, #52c9ad, #750909, #d87824, #b7ae47);
  }

  100% {
    background-image: linear-gradient(to left, #52c9ad, #750909, #d87824, #b7ae47, #4bdd49);
  }
}

@keyframes progress-animate {
  0% {
    background-image: linear-gradient(to left, #750909, #d87824, #b7ae47, #4bdd49, #52c9ad);
  }

  25% {
    background-image: linear-gradient(to left, #d87824, #b7ae47, #4bdd49, #52c9ad, #750909);
  }

  50% {
    background-image: linear-gradient(to left, #b7ae47, #4bdd49, #52c9ad, #750909, #d87824);
  }

  75% {
    background-image: linear-gradient(to left, #4bdd49, #52c9ad, #750909, #d87824, #b7ae47);
  }

  100% {
    background-image: linear-gradient(to left, #52c9ad, #750909, #d87824, #b7ae47, #4bdd49);
  }
}

/************************************************************/

/*
**  navbar
*/

/************************************************************/

/*
**  notebooks
*/

/*
** small projects part
*/

/************************************************************/

/*
**  navbar
*/

/************************************************************/

/*
**  navbar
*/

/************************************************************/

/*
**  notebook
*/

body {
  height: 100%;
}

.canvas-container {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  border: 2px solid black;
  margin-top: 150px;
  margin-bottom: 150px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.canvas {
  width: 1000px;
  height: 500px;
  outline-style: solid;
  outline-width: 5px;
  outline-color: black;
  margin: 0;
  padding: 0;
}

.toolbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.toolbar button[type=button].yes {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
}

.toolbar button[type=button].no {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
}

.toolbar input {
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  width: 100px;
}

.toolbar button {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.colorPicker {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}

img {
  outline-style: solid;
  outline-width: 2px;
  outline-color: green;
}

.galery {
  position: relative;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  padding: 0;
  width: 1000px;
  height: 700px;
  outline-style: solid;
  outline-width: 5px;
  outline-color: black;
}

.galery .img-center {
  margin-top: 0;
}

.galery .img-under {
  position: absolute;
}

