
.container-bg
{

    background-color: $temp-green;
}

.container-tmp
{

    background-color: $tmp-color;
}

.container
{
    width: $container-width;
    @include center-horizontal;
    padding: $padding;
}

.title-upper
{
    text-transform: uppercase;
}

.sticky-top
{
    position: sticky;
    z-index: 101;
    top: 0;
    margin-top: 0px;
    padding-top: 0px;
}

.flex-sides
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-group
{
    display: flex;
    justify-content: space-around;
}

i[class ^= "ion-"]
{
    font:
    {
        size: 35px;
    }
    margin: $margin;
    padding: $padding;
    background:
    {
        color: $navbar-color;
    }
    margin:
    {
        left: $margin;
        right: $margin;
    }

    width: $icon-size;
    height: $icon-size;

    text-align: center;
    vertical-align: center;

    @include make-circle;


    position: relative;
    &:hover
    {
        @include make-button;
    }

    &:active
    {
        animation: make-button-clicked 0s;
        animation-fill-mode: forwards;
    }
}

.img-container
{
    
    width: $img-width;
    height: $img-height;
    
    background:
    {
        color: rgba(0,0,0,0);
    }

    justify-content: center;

    margin: 0;

    content:url("/images/Aibat_Zhakeyev.jpg");
    background-attachment: fixed;
    background-size: cover;
    
    flex-grow: 1;
    justify-self: center;
}

.grid-sides
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat($grid-row-repeats, grid-row-height);

    .img-container
    {
        grid-area: 1/1/span 1/span 1;
    }

    .grid-table
    {
        //put in cells
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 1;
    }
}

table tr td
{
    text-align: center;
    margin: 0;
    padding: 3px;
}


//////////////////////////////////////////////

.empty-bar {
    height: 4px;
    width: 100%;
    background-color: $progress-bg;
}

.progress {
    height: 100%;
    margin-left: 0px;
    // width: 70%;
    animation-name: progress-animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}




@media(max-width: 1065px){
    .flex-sides {
        flex-flow: column;
        text-align: center;
        margin-bottom: 10px;
    }
    .container
    {
        margin: {
            left: auto;
            right: auto;
        }
        width: 90%;
        .grid-sides {
            display: block;
    
            .grid-table {
                display: table;
                width: 100%;
                tr td {
                    margin: {
                        left: auto;
                        right: auto;
                    }
                }
            }
    
            .img-container {
                display: none;
            }
        }
    }
}


@media(max-width: 511px) {
    .sticky-top {
        position: relative;
    }

    .flex-group {
        margin: {
            bottom: 25px;
        }
    }
}